apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: wild-west-frontend
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: wild-west-frontend
    app.kubernetes.io/part-of: purple-mermaid-app
  name: wild-west-frontend
  namespace: pdave
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: wild-west-frontend
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: wild-west-frontend
    spec:
      containers:
      - env:
        - name: LOCATION
          value: US_SW
        image: quay.io/redhat-appstudio/user-workload:pdave-wild-west-frontend
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 3000
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 3000
        resources:
          requests:
            cpu: 500m
            memory: 500Mi
status: {}
